h1{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Lora', serif;
}
a{
    font-family: 'Lora', serif;
}
.nav{
    position: relative;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: auto;
}
.navbutton{
    border: 1px solid #334E58;
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    align-self: center;
}
.navmenu{
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #334E58;
    border: 2px solid black;
    box-shadow: 2px 4px 3px black;
}
.navmenu a{
    color: white;
    text-decoration: none;
    font-size: 1.7em;
}

.nav:hover .navmenu {display: block;}